.container {
  padding: 20px;
  margin: 40px auto;
  max-width: 1200px;
  background-color: #feffff;
  border-radius: 10px;
  border: 1px solid #84b6f4;
}

h2.form-title {
  font-size: 28px;
  font-weight: bold;
  color: #005187;
  padding: 10px 20px;
  background-color: #dae7fa;
  border-left: 6px solid #005187;
  margin-bottom: 30px;
  border-radius: 5px;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  color: #005187;
  padding: 10px 20px;
  background-color: #dfe7f4;
  border-left: 5px solid #7e97b3;
  margin: 30px 0 20px;
  border-radius: 5px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  align-items: center;
  border: 1px solid #84b6f4;
  padding: 8px;
  border-radius: 6px;
  background-color: #c4dafa;
  width: 250px;
}

.filter input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  background-color: transparent;
  color: #005187;
}

.search-icon {
  margin-left: 10px;
  color: #005187;
}

.courses-container,
.participaciones-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 20px;
}

.course-card,
.participacion-card {
  background-color: #feffff;
  padding: 20px;
  border: 1px solid #84b6f4;
  border-left: 5px solid #4d82be;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 81, 135, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card h3,
.participacion-card h3 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #20262a;
  font-weight: bold;
}

.course-card p,
.participacion-card p {
  margin: 6px 0;
  color: #333;
  font-size: 15px;
}

.course-card p strong,
.participacion-card p strong {
  font-weight: bold;
  color: #005187;
}

.course-card a {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: #4d82be;
  text-decoration: none;
}

.course-card a:hover {
  text-decoration: underline;
}

.course-card:hover,
.participacion-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 15px rgba(0, 81, 135, 0.3);
}

ng-template {
  text-align: center;
  font-size: 18px;
  color: #777;
  margin-top: 20px;
}
