<div class="container">
    <h2 class="form-title">Registrar Curso o Actividad</h2>
  
    <div class="selection">
      <button mat-button (click)="selectOption('course')">Registrar Curso</button>
      <button mat-button (click)="selectOption('activity')">Registrar Actividad</button>
    </div>
  
    <div *ngIf="selectedOption === 'course'" class="course-form">
      <h3 class="form-titl">Formulario de Curso</h3>
    
      <form>
        <label for="courseName">Nombre del Curso:</label>
        <input type="text" id="courseName" [(ngModel)]="nombreCurso" name="nombreCurso" required>
    
        <label for="startDate">Fecha de Inicio:</label>
        <input type="date" id="startDate" [(ngModel)]="fechaInicio" name="fechaInicio" required>
    
        <label for="endDate">Fecha de Término:</label>
        <input type="date" id="endDate" [(ngModel)]="fechaTermino" name="fechaTermino" required>
    
        <label for="documentType">Tipo de Documento Entregado:</label>
        <select id="documentType" [(ngModel)]="documento" name="documento">
          <option value="constancia">Constancia</option>
          <option value="participacion">Participación</option>
          <option value="diploma">Diploma</option>
        </select>
      </form>
    
      <h4 class="form-titl">Usuarios Registrados en el Curso</h4>
      <div *ngFor="let empleado of empleados">
        <input type="checkbox" [value]="empleado.clave_empleado" (change)="toggleEmpleado(empleado.clave_empleado)">
        {{ empleado.nombre }} ({{ empleado.clave_empleado }})
      </div>
    
      <button (click)="registrarCurso()">Registrar Curso</button>
    </div>
    <div *ngIf="selectedOption === 'activity'" class="activity-form">
      <h3 class="form-titl">Formulario de Actividad</h3>
      <form>
        <label for="activityName">Nombre de la Actividad:</label>
        <input id="activityName" type="text" placeholder="Nombre de la actividad">
  
        <label for="participationStatus">Estatus de Participación:</label>
        <select id="participationStatus">
          <option value="1">Participó</option>
          <option value="0">No Participó</option>
        </select>
      </form>
  
      <div class="user-registration">
        <h4 class="form-titl">Usuarios Registrados en la Actividad</h4>
        <input #userInputActivity type="text" placeholder="Agregar usuario" />
        <button mat-button (click)="addUser(userInputActivity.value); userInputActivity.value='';">Agregar Usuario</button>
  
        <ul>
          <li *ngFor="let user of usersInActivity">{{ user }}</li>
        </ul>
      </div>
    </div>
  
    <div class="reset">
      <button mat-button (click)="resetForm()">Resetear</button>
    </div>
  </div>
  