<!-- Barra de navegación -->
<nav class="navbar">
  <div class="logo">Mi Espacio</div>
    <ul class="nav-links">
      <li><a routerLink="./edit">Registrar Curso</a></li>
    <li><a routerLink="./list">Cursos</a></li>
    <li><a routerLink="./:id">Perfil</a></li>
    <li><a routerLink="/">Cerrar Sesión</a></li>


  </ul>
</nav>

<!-- Menú lateral (Opcional) -->
<nav *ngIf="isMenuOpen" class="sidebar">
  <ul>
    <li *ngFor="let item of sidebarItems">
      <a [routerLink]="item.url" (click)="toggleMenu()">
        <mat-icon>{{ item.icon }}</mat-icon> {{ item.label }}
      </a>
    </li>
  </ul>
</nav>

<!-- Contenedor principal -->
<div class="container">
  <router-outlet></router-outlet>
</div>

