<div class="container">
  <h2 class="form-titl">Gestión de Usuarios</h2>

  <!-- Barra de búsqueda -->
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchText" placeholder="Buscar por apellido, RFC o clave..." class="form-control" />
  </div>

  <!-- Maestro: Lista de usuarios -->
  <div class="user-list">
    <h3 class="form-titl">Lista de Usuarios</h3>
    <mat-list>
      <mat-list-item *ngFor="let user of filteredUsers" (click)="selectUser(user)">
        <mat-icon matListItemIcon>person</mat-icon>
        <!-- Mostrar nombre completo (nombre + apellido paterno + apellido materno) -->
        {{ user.nombre }} {{ user.apellido_paterno }} {{ user.apellido_materno }} ({{ user.rfc }})
      </mat-list-item>
    </mat-list>
  </div>

  <!-- Detalle: Información del usuario seleccionado -->
  <div *ngIf="selectedUser" class="user-detail">
    <h3 class="form-titl">Detalles del Usuario</h3>
    <!-- Mostrar todos los detalles del usuario seleccionado -->
    <p><strong>Nombre:</strong> {{ selectedUser.nombre }} {{ selectedUser.apellido_paterno }} {{ selectedUser.apellido_materno }}</p>
    <p><strong>RFC:</strong> {{ selectedUser.rfc }}</p>
    <p><strong>Clave:</strong> {{ selectedUser.clave_empleado }}</p>
    <p><strong>Fecha de Alta:</strong> {{ selectedUser.fecha_alta | date }}</p>
    <p><strong>Rol:</strong> {{ selectedUser.rol }}</p>
    <p><strong>Departamento:</strong> {{ selectedUser.departamento }}</p>
    <p><strong>Puesto:</strong> {{ selectedUser.puesto }}</p>
    <p><strong>Correo:</strong> {{ selectedUser.correos.join(', ')}}</p>
    <p><strong>Teléfonos:</strong> {{ selectedUser.telefonos.join(', ') }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ selectedUser.fecha_nacimiento | date }}</p>
    <p><strong>Sexo:</strong> {{ selectedUser.sexo }}</p>
    <!-- Si tienes una foto, puedes mostrarla de esta forma -->
    <p><strong>Foto:</strong> <img [src]="selectedUser.foto" alt="Foto del usuario" width="100" /></p>
    <button mat-button (click)="bajaTemporal(selectedUser._id)" class="btn btn-warning">Baja Temporal</button>
    <button mat-button (click)="bajaDefinitiva(selectedUser._id)" class="btn btn-danger">Baja Definitiva</button>
    <!-- Botón para editar -->
    <button *ngIf="!isEditing" mat-button (click)="editarEmpleado()" class="btn btn-warning">Editar</button>

    <!-- Formulario de edición de usuario -->
    <form *ngIf="isEditing" (ngSubmit)="actualizarEmpleado()">
      <div class="form-group">
        <label for="clave_empleado">Clave de Empleado:</label>
        <input type="text" [(ngModel)]="selectedUser.clave_empleado" name="clave_empleado" id="clave_empleado" class="form-control" disabled />
      </div>

      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" [(ngModel)]="selectedUser.nombre" name="nombre" id="nombre" class="form-control" />
      </div>

      <div class="form-group">
        <label for="apellido_paterno">Apellido Paterno:</label>
        <input type="text" [(ngModel)]="selectedUser.apellido_paterno" name="apellido_paterno" id="apellido_paterno" class="form-control" />
      </div>

      <div class="form-group">
        <label for="apellido_materno">Apellido Materno:</label>
        <input type="text" [(ngModel)]="selectedUser.apellido_materno" name="apellido_materno" id="apellido_materno" class="form-control" />
      </div>

      <div class="form-group">
        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" [(ngModel)]="selectedUser.fecha_nacimiento" name="fecha_nacimiento" id="fecha_nacimiento" class="form-control" />
      </div>

      <div class="form-group">
        <label for="rfc">RFC:</label>
        <input type="text" [(ngModel)]="selectedUser.rfc" name="rfc" id="rfc" class="form-control" />
      </div>

      <div class="form-group">
        <label for="sexo">Sexo:</label>
        <select [(ngModel)]="selectedUser.sexo" name="sexo" id="sexo" class="form-control">
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
          <option value="Otro">Otro</option>
        </select>
      </div>

      <div class="form-group">
        <label for="rol">Rol</label>
        <select [(ngModel)]="selectedUser.rol" name="rol" id="rol" class="form-control" required>
          <option value="2">Empleado</option>
          <option value="1">Admin</option>
        </select>
      </div>

      <div class="form-group">
        <label for="contrasenia">Contraseña:</label>
        <input type="password" [(ngModel)]="selectedUser.contrasenia" name="contrasenia" id="contrasenia" class="form-control" />
      </div>

      <div class="form-group">
        <label for="domicilio">Domicilio:</label>
        <input type="text" [(ngModel)]="selectedUser.domicilio.calle" name="calle" id="calle" class="form-control" placeholder="Calle" />
        <input type="text" [(ngModel)]="selectedUser.domicilio.numero_interior" name="numero_interior" id="numero_interior" class="form-control" placeholder="Número Interior" />
        <input type="text" [(ngModel)]="selectedUser.domicilio.numero_exterior" name="numero_exterior" id="numero_exterior" class="form-control" placeholder="Número Exterior" />
        <input type="text" [(ngModel)]="selectedUser.domicilio.colonia" name="colonia" id="colonia" class="form-control" placeholder="Colonia" />
        <input type="text" [(ngModel)]="selectedUser.domicilio.codigo_postal" name="codigo_postal" id="codigo_postal" class="form-control" placeholder="Código Postal" />
        <input type="text" [(ngModel)]="selectedUser.domicilio.ciudad" name="ciudad" id="ciudad" class="form-control" placeholder="Ciudad" />
      </div>

      <div class="form-group">
        <label for="departamento">Departamento:</label>
        <input type="text" [(ngModel)]="selectedUser.departamento" name="departamento" id="departamento" class="form-control" />
      </div>

      <div class="form-group">
        <label for="puesto">Puesto:</label>
        <input type="text" [(ngModel)]="selectedUser.puesto" name="puesto" id="puesto" class="form-control" />
      </div>

      <div class="form-group">
        <label for="telefonos">Teléfonos:</label>
        <input type="text" [(ngModel)]="telefonoTexto" name="telefonos" id="telefonos" class="form-control" />
        <small>Ingresa los números de teléfono separados por coma</small>
      </div>


      <div class="form-group">
        <label for="correos">Correos:</label>
        <input type="text" [(ngModel)]="correoTexto" name="correos" id="correos" class="form-control" />
        <small>Ingresa los correos separados por coma</small>
      </div>


      <button mat-button type="submit" class="btn btn-warning">Actualizar</button>
    </form>

  </div>
</div>
